

  <footer id="footer">
    <div class="container-fluid footer">
      <div>
        <!-- <a href=""><i class="fab fa-twitter footer-icon"></i></a> -->
        <a href="https://www.facebook.com/casinogolfproshop/"><i class="fab fa-facebook-f footer-icon"></i></a>
        <!-- <a href=""><i class="fab fa-facebook-messenger footer-icon"></i></a> -->
        <a href="mailto:proshop@casinogolfclub.com.au"><i class="fas fa-envelope footer-icon"></i></a>
      </div>
      <p class="copyright">Mochi & Gizmo Designs&trade;</p>

      <div class="">
        <small>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></small>
        </div>
        <div class="">
          <small>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></small>
        </div>
        <div class="">
          <small>Icons made by <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></small>
        </div>
        <div class="">
          <small>Icons made by <a href="https://www.flaticon.com/authors/surang" title="surang">surang</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></small>
        </div>

    </div>


  </footer>

</body>

</html>
