<%- include("partials/header"); -%>

<section id="nav">

  <div class="container-fluid nav-container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">
        <img src="/images/logo.png" width=134 height="192" class="d-inline-block align-center rounded-circle logo" alt=""><span class="title">Casino Pro Shop</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto">
          <li class="navbar-item">
            <a class="nav-link" href="/">Back</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

</section>

<section id="contact">

<div class="container-fluid">

  <h2>Get in Touch</h2>

  <div class="row display-flex">

    <div class="pricing-column col-lg-3 col-md-6">
      <div class="card bg-light" style="max-width: 18rem;">
        <div class="card-header"><i class="fas fa-map-marker-alt fa-3x contact-icon"></i></div>
        <div class="card-body">
          <h5 class="card-title">Our Address</h5>
          <p class="card-text">147 West St, Casino NSW 2470</p>
        </div>
      </div>
    </div>




    <div class="pricing-column col-lg-3 col-md-6">
      <div class="card bg-light" style="max-width: 18rem;">
        <div class="card-header"><i class="fas fa-mobile-alt fa-3x contact-icon"></i></div>
        <div class="card-body">
          <h5 class="card-title">Call Us</h5>
          <p class="card-text">02 6662 1259</p>
        </div>
      </div>
    </div>


    <div class="pricing-column col-lg-3 col-md-6">
      <div class="card bg-light" style="max-width: 18rem;">
        <div class="card-header"><a href="mailto:proshop@casinogolfclub.com.au"><i class="fas fa-envelope fa-3x contact-icon"></i></a></div>
        <div class="card-body">
          <h5 class="card-title">Email Us</h5>
          <p class="card-text"> <a class="contact-icon" href="mailto:proshop@casinogolfclub.com.au">proshop@casinogolfclub.com.au</a></p>
        </div>
      </div>
    </div>

    <div class="pricing-column col-lg-3 col-md-6">
      <div class="card bg-light" style="max-width: 18rem;">
        <div class="card-header"> <a href="https://www.facebook.com/casinogolfproshop/"><i class="fab fa-facebook-square fa-3x contact-icon"></a></i></div>
        <div class="card-body">
          <h5 class="card-title">Facebook</h5>
          <p class="card-text">Contact us on Facebook</p>
        </div>
      </div>
    </div>

  </div>

    <div id="map" class="map">
    </div>


</div>
  <script src="/js/scripts.js" charset="utf-8"></script>

</section>

<%- include("partials/footer"); -%>
