/*************************** Whole Page *******************************/
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #f4fef4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-bold', sans-serif;
  font-weight: 900;
}

/********************************************Containers **************************************/

.container-fluid, .container {
  padding: 5% 15%;
}

/************************************************** Phone **********************************/
#phone .container-fluid {
  padding: 0 0;
}

#phone .phone p {
  padding: 0 25px 0 0;
  text-align: right;
  margin-bottom: 0px;
  font-size: 1rem;
  font-family: 'Montserrat-light';
  background-color: #000080;
  color: #fff;
  /* color: #414141; */
}

/*************************************************** Nav bar ********************************/
#nav {
  /* background-color: rgba(135,167,166,0.97); */
}
.navbar {
  padding: 0 0;
}

.navbar-brand {
  width: 350px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  color: #414141;


}

.navbar-item {
  padding: 0 10px;
}

.navbar-item:hover {
  background-color:#D3D3D3;
  border-radius: 5px;
}

.logo {
  width: 60%;
  height: 60%;
  /* border: 0.25px solid #414141; */
}

#nav .container-fluid {
  padding: 1% 5% 1%;
  text-align: left;
}

#nav .nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-light';
  /* font-weight: bold; */
  color: #414141;
}
#nav .nav-link:hover {
  color: white;
}




/********************************* Features section *******************************************/
#features {
  position: relative;
  /* This keeps the element in the HTML flow*/
  z-index: 1;
  /*This is optional in this case as the stacking order allows this section to sit on top */
}

#features .feature-title {
  font-size: 1.5rem;
}

#features  .feature-box {
  padding: 5%;
}

#features  .features-icon {
  width: 25%;
  margin-bottom: 1rem;
}

#features .feature-box:hover {
  color: #414141;
}


/*************************************** Services Section  **********************************/
#services, #contact {
  padding: 50px 100px;
  text-align: center;
  background: #e7e8e2;
}

.price-text {
  font-size: 2rem;
  line-height: 1.2;
}

.pricing-column {
  padding: 3% 2%;

}


.row .display-flex  {
  display: flex;
  flex-wrap: wrap;
}

.row .display-flex > [class*='col-']  {
  flex-grow: 1;
}

.card  {
  height: 100%;
}



/*************************************** Products Section  **********************************/
#products .img-responsive {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.target-para {
  text-align: left;
}

/****************************************** Contact Us Section ***********************************/

.contact-icon {
  color: #000000;
}

.contact-icon:hover {
  color: gray;
}

#contact .card {
  margin: auto;
}


.map {
  width: 100%;
  height: 400px;
  background-color: grey;

}

/************************************ Prices section ************************************/
#prices {
    background: #e7e8e2;
}

.card-img-top {
  width: 40%;
  margin: 0 auto;
}

#prices h1 {
  margin-bottom: 20px;
}

.scroll {
  margin: 0 auto;
}

/**************************************** Prices - Carousels ********************************/

.fa-angle-right, .fa-angle-left {

  color: #414141;
  font-size: 2.5rem;
}

.fa-angle-left {
  margin-right: 80%;

}

.fa-angle-right {
  margin-left: 80%;
}


/*************************************** Footer Section  **********************************/
#footer {
  background-color: rgba(135,167,166,0.97);

}

.footer-icon {
  margin: 20px 10px;
  color: #000000;
}

.footer-icon:hover {
  color: gray;
}

.copyright {
  font-size: 0.75rem;
}

#footer .container-fluid {
  padding: 3% 15%;
}

/****************************************** Scroll button ******************************/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #000080;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #a9a9a9;
}

/***************************************Media break points ***************************/
@media (max-width: 992px) {

  .navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    width: 350px;
  }

  .logo {
    width: 25%;
    height: 25%;
    /* border: 0.25px solid #414141; */
  }

}



/* Make  more specific to price carousel */
@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    #prices .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    #prices .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    #prices .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    #prices .carousel-inner .active + .carousel-item {
        display: block;
    }
    #prices .carousel-inner .carousel-item.active:not(#prices .carousel-item-right):not(#prices .carousel-item-left),
    #prices .carousel-inner .carousel-item.active:not(#prices .carousel-item-right):not(#prices .carousel-item-left) + .carousel-item {
        transition: none;
    }
    #prices .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    #prices .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    #prices .carousel-item-next.carousel-item-left + .carousel-item,
    #prices .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    #prices .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    #prices .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    #prices .carousel-item-prev.carousel-item-right + .carousel-item,
    #prices .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    #prices .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    #prices .carousel-inner .carousel-item.active:not(#prices .carousel-item-right):not(#prices .carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    #prices .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    #prices .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    #prices .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    #prices .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    #prices .carousel-inner .carousel-item.active:not(#prices .carousel-item-right):not(#prices .carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    #prices .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    #prices .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    #prices .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + #prices .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
